
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>*@



@model IEnumerable<TaskManagementSystem.Models.Task>
@using TaskManagementSystem.Helpers;
@{
    ViewBag.Title = "Tasks List";
}
<h2>Tasks Assigned to Employees Information</h2>
<p>
    @Html.ActionLink("Create New Task", "Create")
</p>
@using (Html.BeginForm("Search", "Task"))
{
    @Html.Editor("SearchBox")
    <input type="submit" value="Search" placeholder="Enter.." style="color: #4CAF50;" />

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus.StatusName)
            </td>
            <td>
                @Html.Truncate(item.TaskName, 20);
                @*@Html.DisplayFor(modelItem => item.TaskName)*@
            </td>
            <td>
                @Html.Truncate(item.TaskDescription, 20);
                @*@Html.DisplayFor(modelItem => item.TaskDescription)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
            </td>
        </tr>
    }
</table>
